.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87ceeb;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    width: 100%;
    border: none;
    padding: 1rem;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
    transition: background-color 100ms ease-in-out,
    transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    cursor: pointer;
  
    &:hover {
      background-color: #4682b4;
      transform: scale(1.02);
    }
  
    &:active {
      background-color: #4682b4;
      transform: scale(1);
    }
  }
  
  .MuiSvgIcon-root.edit-icon {
    width: 17px;
    height: 17px;
    margin-left: 5px;
  }