.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  padding: 20px;
  background-color: #fff;
}

.edit-modal-header {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

.close-modal-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.button {
  margin-top: 26px;
}

.modal-label {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.modal-label:not(:last-of-type) {
  margin-bottom: 15px;
}

.modal-label.upload {
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.upload-image-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.modal-input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 25px;
  padding: 0 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  appearance: none;
}

.MuiSvgIcon-root.save-icon {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}

.img-preview-wrapper {
  text-align: center;
  margin-bottom: 40px;
  
  img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.upload-photo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
