
.spinner-wrapper {
    margin: auto;
    text-align: center;
    position: absolute;
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
  }