.close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
  
    &:hover {
      transform: scale(1.1);
      transition: all 0.3s;
  
      &:hover {
        svg {
          fill: #4682b4;
          transition: all 0.3s;
        }
      }
    }
  }